<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="PRConnectionString" connectionString="Data Source=10.0.8.107 ;Initial Catalog=PROP_RETURNS;User ID=sa; Password=Sql@2014;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ERPConnectionString" connectionString="Data Source=10.0.8.216;Initial Catalog=ERPHRDB;User ID=hrcommon;Password=erphr@123;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <add name="ERPConnectionString" connectionString="Data Source=ERPHR.NTPCLAKSHYA.CO.IN;Initial Catalog=ERPHRDB;User ID=hrcommon;Password=erphr@123;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <!--<add name="PRConnectionString" connectionString="Data Source=10.0.8.88 ;Initial Catalog=PROP_RETURNS;User ID=sa; Password=Sql@2014;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="PRConnectionString" connectionString="Data Source=10.0.8.173 ;Initial Catalog=PROP_RETURNS;User ID=sa; Password=ProdsqL@dmin@173;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <add name="PRConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PROP_RETURNS;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="IntranetAppsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.8.67;Initial Catalog=IntranetApps;User ID=sa;Password=Sql@2014;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="ERPConnectionString" connectionString="Data Source=10.0.8.215;Initial Catalog=ERPHRDB;User ID=sa;Password=ntpc@123;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="PRConnectionString" connectionString="Data Source=10.4.0.170 ;Initial Catalog=PROP_RETURNS;User ID=sa; Password=Admin@123;  MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/chkuid.aspx" timeout="36600"/>-->
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="36600" />-->
      <forms loginUrl="~/Account/Login.aspx" timeout="30"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <!--<customErrors mode="Off" />-->
    <!-- Audit Point by SS Point 1 : Report Dated 21.11.2022-->
    <customErrors mode="On" defaultRedirect="~/DefaultErrorPage.html"/>
    <!--<sessionState mode="InProc" cookieless="true" timeout="30" />-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <!--<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />-->
      <add name="x" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <remove name="X-UA-Compatible"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, application/x-www-form-urlencoded, application/json"/>
        <!-- Audit Point by SS Point 3 : Report Dated 21.11.2022-->
        <add name="Access-Control-Allow-Methods" value="GET, POST"/>
        <remove name="X-Powered-By"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- Audit Point by SS Point on 2023.06.22 ; Report Point 5 : Dated 21.11.2022-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>
        <add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
        <add name="Cache-Control" value="public"/>
        <add name="Content-Security-Policy" value=""/>
        <add name="Strict-Transport-Security" value="31536000"/>
        <remove name="Server"/>
        <!--<remove name="ETag"/>
        <add name="ETag" value="None"/>-->
        <!--Code end-->
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="default.aspx"/>
        <add value="LoginPage.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <rewrite>
      <outboundRules>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".*"/>
          <action type="Rewrite"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>